.heroBanner {
  padding: 8rem 0 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  background-color: var(--ifm-background-color);
}

.action {
  background-color: var(--ifm-color-primary-dark);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.examples-link {
  font-size: 18px !important;
  margin-top: 12px !important;
}

.cards {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: 1fr 1fr;

  margin: 0 auto 4rem auto;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 8rem 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
