.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 1rem;
    background-color: #232730;

    padding: 1.5rem;
}

.icon {
    font-size: 3rem;
}

.title {

}

.description {

}